<div class="container py-5">
  <div class="text-center mb-5">
    <h1 class="display-4 fw-bold">Bienvenido a la Aplicación</h1>
    <p class="lead">Selecciona una de las opciones del menú para continuar</p>
  </div>

  <div class="row g-4 justify-content-center">
    <div class="col-md-3">
      <a routerLink="/user/" class="text-decoration-none">
        <div class="card shadow-sm h-100 text-center">
          <div class="card-body">
            <i class="bi bi-house-door display-4 mb-3"></i>
            <h5 class="card-title">Usuarios</h5>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a routerLink="/student/" class="text-decoration-none">
        <div class="card shadow-sm h-100 text-center">
          <div class="card-body">
            <i class="bi bi-person-badge-fill display-4 mb-3"></i>
            <h5 class="card-title">Student</h5>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>

