<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Lista de Estudiantes</h2>
    <button class="btn btn-primary" (click)="addStudent()">Agregar</button>
  </div>

    <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr class="align-middle">
        <th>#</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Correo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (student of students(); let i = $index; track student.uid) {
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.lastName }}</td>
        <td>{{ student.email }}</td>
        <td class="text-nowrap">
          <button class="btn btn-sm btn-info me-2" (click)="editStudent(student.uid)">
            Editar
          </button>
          <button class="btn btn-sm btn-danger me-2">
            Eliminar
          </button>          
        </td>
      </tr>
      }
    </tbody>
  </table>
  
</div>
