<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Usuarios del Sistema</h2>
    <button class="btn btn-primary" (click)="addUser()">Agregar Usuario</button>
  </div>

  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr class="align-middle">
        <th>#</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users(); let i = $index; track user.uid) {
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <span
            [class.text-success]="user.active"
            [class.text-danger]="!user.active"
          >
            {{ user.active ? "Activo" : "Inactivo" }}
          </span>
        </td>
        <td class="text-nowrap">
          <button class="btn btn-sm btn-info me-2" (click)="editUser(user.uid)">
            Editar
          </button>
          <button
            class="btn btn-sm"
            [ngClass]="user.active ? 'btn-danger' : 'btn-success'"
            (click)="stateUser(user.uid)"
          >
            {{ user.active ? "Desactivar" : "Activar" }}
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  @if(loading) {
  <div class="loading-overlay">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>
  }
</div>
